.tab-pane {
  min-width: 400px;
}

/*.b-emails__inputs {
  min-width: 500px;
}*/

.b-email-button {
  width: 70%;
}

.b-email-button button {
  width: 100%;
  text-align: left;
}


.b-clipboard {
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
